:root{
	--button-size: 50px;
	--main-color: #c7cedf;
	--contrast-color: #3b4b60;
	font-family: Verdana;
}

/*
	--main-color: #c7cedf;
	--contrast-color: #002a29;

	--main-color: #a6b4bd;

	--main-color: #c6cdda;
*/

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background: var(--main-color);
}

/* Slice */

body div {
	border: 1px dashed gray;
	box-sizing: border-box;
}

/*/

/* Basic */

.h20 {
	height: 20%;
}

.h50 {
	height: 50%;
}

.h60 {
	height: 60%;
}

.h100 {
	height: 100%;
}

.w100 {
	width: 100%;
}

.h20px {
	height: 20px;
}

.h24px {
	height: 24px;
}

.h40px {
	height: 40px;
}

.w20px {
	width: 20px;
}

.w24px {
	width: 24px;
}

.w40px {
	width: 40px;
}

.buttonSive {
	width: var(--button-size);
}

.autoMargin {
	margin: auto;
}

.flex {
	display: flex;
}

.fg1 {
	flex-grow: 1;
}

.clicable {
	cursor: pointer;
}

.image {
	position: absolute;
	height: var(--button-size);
	width: var(--button-size);
}

.controlButton {
	height: var(--button-size);
	width: var(--button-size);
}

.divCircle {
	border-radius: 100%;
	background: var(--contrast-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Divs */

.divControlPanel {
	width: 70px;
}

.divMiddleControl {
	box-sizing: border-box;
	border: 3px solid var(--contrast-color);
	border-bottom-right-radius: 30px;
	border-top-right-radius: 30px;
	border-left: 0;
}

.divChat{
	flex-direction: column;
}

.divChatTabs {
	height: 20px;
}

.divPeople {
	width: 300px;
}

.divPeopleContent {
	flex-direction: column;
}

.divSearchPeople .divMiddle {
	margin: 0 20px;
	border-radius: 6px;
	background: var(--contrast-color)
}

/* load image */

#profile .image {
	border-bottom-right-radius: 100%;
	border-bottom-left-radius:  100%;
	background-image: url("../src/profile/048-woman.png");
	background-size: 100%;
}

#team .image {
	background-image: url("../src/icon/inactive/pokeballs.png");
	background-size: 100%;
}

#inventory .image{
	background-image: url("../src/icon/inactive/backpack.png");
	background-size: 100%;
}

#craft .image{
	background-image: url("../src/icon/inactive/mallet.png");
	background-size: 100%;
}

#sale .image{
	background-image: url("../src/icon/inactive/trade.png");
	background-size: 100%;
}

#mail .image{
	background-image: url("../src/icon/inactive/love-letter.png");
	background-size: 100%;
}

#players .image{
	background-image: url("../src/icon/inactive/support.png");
	background-size: 100%;
}

#ivents .image{
	background-image: url("../src/icon/inactive/open-book.png");
	background-size: 100%;
}


.divSwithPeople {
	background-image: url("../src/arrow.png");
	background-size: 100%;
}

.divSearchButton {
	background-image: url("../src/icon/inactive/loupe.png");
	background-size: 100%;
}

.divSwapButton div {
	background-image: url("../src/icon/inactive/swap.png");
	background-size: 100%;
}