*{
	font-family: Verdana;
}

body, html{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

.top {
	height: 5%;
	background: gray;
}

.middle {
	height: 50%;
	background: #d0d8e7;
}

.bottom {
	height: 45%;
	background: #d0d8e7;
}

.content {
	display: flex;
}

.tool div{
	padding: 10px;
}

.toolCenter {
	margin-left: auto;
	margin-right: auto;
}

.toolRight {
	float:right;
}

.tool button {
    text-align: center;
    cursor: pointer;
}

.battle{
	height: 100%;
}

.monster {
	margin: 1%;
	margin-top: 45px;
	height: 350px;
	width: 266px;
	background: rgba(0,0,0, 0.4);
}

.divLog {
	margin-top: 45px;
	height: 350px;
	flex-grow: 1;
	background: rgba(0,0,0, 0.2);
}

.battleLog {
	height: 100%;
}

.battleLog h1{
	text-align: center;
}

.battleLog p{
	margin: 1%;
}

.closeBattle {
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	display: flex;
}

.closeBattle button {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.location {
	display: none;
}

.monsterAction{
	margin: 1%;
	margin-left: 0;
	margin-top: 45px;
	height: 350px;
	width: 200px;
	background: rgba(0,0,0, 0.4);
}

.monsterAction button{
	margin: 8% 10%;
	width: 80%;
	height: 15%
}

#swap{
	float:right;
	width: 40px;
	height: 40px;
	position:relative;
	z-index:1;
}

.info {
	padding-top: 5px;
	position: absolute;
	width: 266px;
}

.info p {
	margin: 0em;
	text-align: center;
}

.monster-image {
	margin: 5px;
	height: 256px;
	width: 256px;
	background-image: url("src/037Vulpix.webp");
	background-size: 100%;
}

.user .monster-image {
	transform: scaleX(-1);
}

.br {
	padding: 5px;
}

.bar {
	padding: 2px;
	margin-right: 10%;
	margin-left: 10%;
	width: 80%;
	height: 10px;
	background: #d0d8e7;
	border-radius: 30px;
}

.bar *{
	margin-right: 2%;
	margin-left: 2%;
	height: 10px;
	width: 96%;
	border-radius: 30px;
}

.xp {
	background: #2196F3;
}

.hp {
	background: #f44336;
}

.team {
	margin: 5px;
	display: flex;
}

.ball {
	border: 0;
	margin: 5px;
	width: 32.67px;
	height: 32.67px;
	background-image: url("src/pokeball.png");
	background-size: 100%;
}

.die {
	filter: grayscale(1);
}

.inactive {
	background-image: url("src/pokeball_inactive.png");
}

.divChat{
	height: 100%;
}

.chat {
	flex-grow: 8;
}

.pageChat {
	margin-top: 10px;
	height: 10%;
}

.textChat {
	height: 70%;
}

.sendChat {
	display: flex;
}

.sendChat div {
	background: gray;
}

#massange {
	flex-grow: 1;
}

.utility {
	height: 100%;
	flex-grow: 1;
}

.miniMe {
	margin-top: 10px;
	height: 10%;
	background: black;
}

.people {
	height: 70%;
}

.utilityButton {
	float: right;
	display: flex;
}

.divBottom {
	padding-top: 10px;
}

.divBottom * {
	margin: 10px;
}


.divDockpanel {
	margin: 1%;
	position: absolute;
	z-index: 2;
	background: #737373;
}

.divDockpanel .table {
	height: 512px;
	width: 768px;
}

.divDockpanel .table2{
	display: none;
}

.divAll {
	height: 30px;

}

.naming {
	flex-grow: 1;
}

.row {
	display: flex;
}

.item {
	height: 85px;
	width: 85px;
	background: #1e3955;
}

.img {
	margin: 5px;
	height: 75px;
	width: 75px;
}

#i1{
	background: url("src/pokeball.png");
	background-size: 100%;
}