@import "nullstyle.scss";
//@import "dev.scss";
@import "shapes.scss";
@import "load_image.scss";


// variables
$colorMain: #c7cedf;
$colorContrast: #3b4b60;
$colorContrast2: #fa8b46;
$colorContrast3: #34e382;
$colorContrast4: #d7fa46;
$colorContrast5: #fa422d;
$colorGray: #a0a9b7;
$widthMenu: 70px;
$widthNotCentralMenuBlock: 20%;
$sizeMenuButton: 50px;
$sizeMinibutton: 20px;
$borderRadiusCentralMenu: 20px;
$paddingButton: ($widthMenu - $sizeMenuButton) / 2;
$widthPeople: 300px;


// mixins
@mixin hw($height, $width) {
    height: $height;
    width: $width;
}

@mixin button_construct($height, $width) {
    @include hw($height, $width);
    div {
        @include hw($height, $width);
        position: absolute;
    };
}

body {
    background: $colorMain;
    .menu {
        @include hw(100%, $widthMenu);
    };
    .activity {
        @include hw(100%, 100%);
        .game {
            @include hw(50%, 100%);
        };
        .texting {
            @include hw(50%, 100%);
        };
    };
}

.button {
    cursor: pointer;
}

.menu {
    .container {
        @include hw(100%, 100%);
        padding: $paddingButton;
    };
    .button {
        @include button_construct($sizeMenuButton, $sizeMenuButton);
    }
    &__top {
        @include hw($widthNotCentralMenuBlock, 100%);
        .container {
            padding-top: $paddingButton;
        };
        .button {
            .circle {
                background: $colorContrast
            }
            &__image {
                border-bottom-right-radius: 100%;
	            border-bottom-left-radius: 100%;
            };
        };
    };
    &__central {
        @include hw(100% - 2 * $widthNotCentralMenuBlock, 100%);
        box-sizing: border-box;
        border: 3px solid $colorContrast;
        border-bottom-right-radius: $borderRadiusCentralMenu;
        border-top-right-radius: $borderRadiusCentralMenu;
        border-left: 0;
        display: flex;
        .container{
            padding: 0;
            margin: auto;
            @include hw((7 * $sizeMenuButton + 6 * $paddingButton), $sizeMenuButton);
            .button {
                margin-bottom: $paddingButton;
            }
        };
    };
    &__bottom {
        @include hw($widthNotCentralMenuBlock, 100%);
    };
}

.game {
    .loacation {
        height: 100%;
    };
    .battle {
        height: 100%;
    }
    .dangeon {
        height: 100%;
    }
}

.loacation {
    display: flex;
    padding: 20px;
    .move_list {
        padding: 10px;
        width: 20%;
        max-width: 300px;
        .move {
            text-align: center;
            margin: 10px;
            padding: 5px 0;
            cursor: pointer;
            box-sizing: border-box;
            border: 2px ridge $colorContrast;
            border-radius: 10px;
        }
    };
    .container {
        width: 60%;
        flex-grow: 1;
        padding: 0 20px;
    };
    &__info {
        height: 80%;
    };
    &__name {
        text-align: center;
        position: relative;
        top: 10px;
        span {
            padding: 5px 25px;
            background: $colorContrast;
            border-radius: 10px;
            border: 5px double $colorMain;
            border-radius: 10px;
            color: $colorMain;
        }
    }
    &__discription {
        height: 80%;
        padding: 15px;
        border: 5px double $colorContrast;
        border-radius: 10px;
    };
    &__discription_advance{
        height: 80%;
    };
    .npc_list {
        padding: 10px;
        width: 20%;
        max-width: 300px;
        .nps {
            text-align: center;
            margin: 10px;
            padding: 5px 0;
            cursor: pointer;
            box-sizing: border-box;
            border: 2px ridge $colorContrast;
            border-radius: 10px;
        };
    }
};

.texting {
    display: flex;
    .button {
        @include button_construct($sizeMinibutton, $sizeMinibutton);
    };
    .chat {
        flex-grow: 1;
    };
    .people {
        &__minimize{
            @include hw(100%, 20px);
        };
        .container {
            @include hw(100%, $widthPeople - 20px);
            min-width: $widthPeople - 20px;
        }
    };
}

.info {
    margin: 1px;
    @include hw(13px, 13px);
    text-align: center;
    border-radius: 3px;
    background: $colorContrast;
    color: $colorMain;
    cursor: pointer;
}

.user {
    * {
        display: inline-block;
        vertical-align: bottom;
    };
    span {
        cursor: pointer;
    };
}

.chat {
    display: flex;
    flex-direction: column;
    &__tabs {
        display: flex;
    };
    &__tab {
        margin-left: 5px;
        padding: 0 10px;
        display: flex;
        box-sizing: border-box;
        border: 3px solid $colorContrast;
        border-radius: 10px;
        font-size: 12px;
        cursor: pointer;
        .button {
            position: relative;
            top: 2px;
            left: 4px;
            @include button_construct(12px, 12px);
            .circle {
                @include hw(5px, 5px);
                left: -4px;
                top: -1px;
                background: $colorContrast5;
            };
        };
    };
    .active {
        background: $colorContrast;
        color: $colorMain;
        .circle{
            background: $colorContrast2;
        };
    };
    &__log {
        padding: 5px;
        @include hw(100%, 100%);
        .messange {
            font-size: 11px;
            display: inline-block;
            div {
                display: inline-block;
                vertical-align: bottom;
            };
            .time {
                cursor: pointer;
                font-size: 10px;
                padding: 0 5px;
                margin-top: auto;
                color: $colorContrast;
                text-shadow: 1px 1px 0 $colorGray;
            };
            .my {
                background: $colorContrast;
                color: $colorMain;
            };
        }
    };
    &__send {
        padding: 0 10px;
        padding-bottom: 5px;
        display: flex;
        input {
            padding: 0 5px;
            margin: 0 5px;
            font-size: 12px;
        };
        .button {
            margin: 0 5px;
        }
        .container {
            flex-grow: 1;
            display: flex;
            border: 1px solid $colorContrast;
            border-radius: 15px;
            .button {
                margin-right: 0;
            };
        }
        #adresant {
            box-sizing: border-box;
            border-bottom: 1px solid $colorContrast;
        };
        #text_messange {
            flex-grow: 1;
        };
    };
}

.people {
    display: flex;
    .container {
        display: flex;
        flex-direction: column;
        @include hw(100%, 100%);
        .tab_naming {
            display: flex;
            padding-bottom: 6px;
            p {
                padding-left: 5px;
            };
        };
        #naming_player {
            padding-left: $sizeMinibutton;
        };
        .players {
            flex-grow: 1;
        };
        .battles {
            flex-grow: 1;
        }
    }
}

.players {
    display: flex;
    flex-direction: column;
    &__search{
        margin: auto;
        padding: 0 4px;
        display: flex;
        background: $colorContrast;
        border-radius: 20px;
    };
    &__list{
        flex-grow: 1;
        .user {
            font-size: 12px;
            padding: 2px 25px;
        };
    };
}

.battles {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    .button{
        @include button_construct(15px, 15px);
    }
    .battle {
        display: flex;
        padding: 5px 0px;
        margin-left: auto;
        margin-right: auto;
        div {
            margin: 0 5px;
            * {
                margin: 0;
            }
        }
    }
}


// display block
.texting {
    .container {
    }
    .players {
    }
    .battles {
        display: none;
    }
}

.game {
    .loacation {
        &__discription_advance {
            display: none;
        }
    }
    .battle {
        display: none;
    }
    .dangeon {
        display: none;
    }
}